.tunes-song {
	color: white;
	text-align: left;

	max-width: 24em;
	margin: 0 auto 2em;
	position: relative;

	box-sizing: border-box;
	background-color: #191919;
	border-radius: 0.75em;
}

.inside {
	padding: 1.35em 1.75em 1.75em;
}

h2 {
	font-size: inherit;
	line-height: 1.5em;
	margin: 0;
}

.player {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1.5em;
}

img {
	width: 5em;
	border: 3px solid white;
	border-radius: 0.5em;
}

audio {
	outline: none;
	max-width: 14em;
}

audio::-webkit-media-controls-panel {
	background: #fff;
}

.meta {
	font-size: 0.75em;
	font-weight: 800;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.6);

	padding: 1.5em 2.25em;
	background: rgb(0, 0, 0);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

// responsive
@media screen and (max-width: 520px) {
	.player {
		audio {
			margin-top: 1.5em;
		}

		flex-direction: column;
	}
}
