/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(251, 180, 105);
}

h3 {
  margin: auto;
  width: 60%;
  border-bottom: 5px solid brown;
  padding: 15px;
}
